<section id="about">
<div class="container about-container">
<h2 class="about-title">Гра, створена для перших <span>великих пригод</span></h2>
<div class="about-content">
<ul class="about-list">
<li class="about-item"> 
<h3 class="about-title-item">Легке керування</h3>
<p class="about-text">Інтуїтивні механіки дозволяють дітям швидко розпочати гру.</p>
</li>
<li class="about-item"> 
<h3 class="about-title-item">Нові світи</h3>
<p class="about-text">Яскраві рівні з цікавими місіями та пригодами.</p>
</li>
<li class="about-item"> 
<h3 class="about-title-item">Маленькі перемоги</h3>
<p class="about-text">Кожне завдання допомагає дитині відчути радість досягнення.</p>
</li>
<li class="about-item"> 
<h3 class="about-title-item">Дружня атмосфера</h3>
<p class="about-text">Добрі персонажі та позитивний ігровий досвід.</p>
</li>
<li class="about-item">
<h3 class="about-title-item">Золоті кільця</h3>
<p class="about-text">Збирайте кільця на кожному рівні та відкривайте нові нагороди.</p>
</li>
<li class="about-item">
<h3 class="about-title-item">Веселі місії</h3>
<p class="about-text">На дітей чекають цікаві завдання та захопливі пригоди.</p>
</li>
<li class="about-item">
<h3 class="about-title-item">Улюблені герої</h3>
<p class="about-text">Зустрічайте Соніка та його друзів під час подорожі яскравими світами.</p>
</li>
<li class="about-item">
<h3 class="about-title-item">Барвисті рівні</h3>
<p class="about-text">Кожна локація має власний стиль, секрети та несподівані відкриття.</p>
</li>
</ul>
<div class="about-img">
<img srcset="src/img/about/about.webp 1x, src/img/about/about@2x.webp 2x" src="src/img/about/about.webp" alt="Sonic whith friends"/>
</div>
</div>
<div class="about-jewel">
<img class="jewel jewel-one" src="/src/img/about/jewel.png" alt="jewel"/>
<img class="jewel jewel-two" src="/src/img/about/jewel.png" alt="jewel"/>
<img class="jewel jewel-four" src="/src/img/about/jewel.png" alt="jewel"/>
<img class="jewel jewel-five" src="/src/img/about/jewel.png" alt="jewel"/>
<img class="jewel jewel-six" src="/src/img/about/jewel.png" alt="jewel"/>
</div>
</div>
</section>