<section id="faq">
<div class="container faq-container">
<h2 class="faq-title"> Найчастіші запитання та відповіді про 
<span>Adventure Kids.</span>
</h2>

<ul class="faq-list">
<li class="faq-item">

<button class="faq-question">
<svg class="icon-faq" width="64" height="64" data-icon-faq="close">
<use href="/src/img/icon/emerald.svg"></use>
</svg>    
<p class="question-text">Чи підходить гра для дітей?</p>
</button>
<div class="faq-answer">
<p class="answer-text"> Так. Sonic Adventure Kids створена для дітей різного віку. Гра має просте керування, яскраву графіку та доброзичливий ігровий процес.
</p>
</div>
</li>

<li class="faq-item">
<button class="faq-question">
<svg class="icon-faq" width="64" height="64" data-icon-faq="close">
<use href="/src/img/icon/emerald.svg"></use>
</svg>
<p class="question-text">Чи можна грати безкоштовно?</p>
</button>
<div class="faq-answer">
<p class="answer-text"> Так, гру можна завантажити та почати проходження безкоштовно. Деякі додаткові предмети або бонуси можуть бути доступні через внутрішньоігрові покупки.
</p>
</div>
</li>

<li class="faq-item">
<button class="faq-question">
<svg class="icon-faq" width="64" height="64" data-icon-faq="close">
<use href="/src/img/icon/emerald.svg"></use>
</svg>
<p class="question-text">Чи потрібна реєстрація для початку гри?</p>
</button>
<div class="faq-answer">
<p class="answer-text"> Ні. Почати грати можна одразу після встановлення. Обліковий запис потрібен лише для синхронізації прогресу між пристроями.
</p>
</div>
</li>

<li class="faq-item">
<button class="faq-question">
<svg class="icon-faq" width="64" height="64" data-icon-faq="close">
<use href="/src/img/icon/emerald.svg"></use>
</svg>    
<p class="question-text">Чи потрібне підключення до Інтернету?</p>
</button>
<div class="faq-answer">
<p class="answer-text"> Основні пригоди доступні офлайн. Інтернет потрібен лише для оновлень, синхронізації прогресу та окремих онлайн-функцій.
</p>
</div>
</li>

<li class="faq-item">
<button class="faq-question">
<svg class="icon-faq" width="64" height="64" data-icon-faq="close">
<use href="/src/img/icon/emerald.svg"></use>
</svg>
<p class="question-text">Чи є в грі бонуси та секретні рівні?</p>
</button>
<div class="faq-answer">
<p class="answer-text"> Так. Під час пригод можна знаходити приховані маршрути, збирати золоті кільця, відкривати бонусні місії та секретні нагороди.
</p>
</div>
</li>

<li class="faq-item">
<button class="faq-question">
<svg class="icon-faq" width="64" height="64" data-icon-faq="close">
<use href="/src/img/icon/emerald.svg"></use>
</svg>
<p class="question-text">Чи отримує гра оновлення?</p> 
</button>
<div class="faq-answer">
<p class="answer-text"> Так. Регулярні оновлення додають нові рівні, пригоди, тематичні події та покращення ігрового процесу.
</p>
</div>
</li>

<li class="faq-item">
<button class="faq-question">
<svg class="icon-faq" width="64" height="64" data-icon-faq="close">
<use href="/src/img/icon/emerald.svg"></use>
</svg>    
<p class="question-text">Чому варто спробувати Sonic Adventure Kids?</p>
</button>
<div class="faq-answer">
<p class="answer-text"> Гра поєднує швидкісні пригоди, улюблених героїв, яскравий світ і цікаві випробування, які дарують захопливі емоції як дітям, так і дорослим.
</p>
</div>
</li>
</ul>

</div>
</section>