<footer id="footer">
<div class="container">
<h2 class="footer-title">Готові до нової пригоди?</h2>
<p class="footer-description"> Завантажуйте Sonic Adventure Kids вже сьогодні та подаруйте дитині захопливу пригоду!
</p>
<a href="#hero" class="footer-btn">Завантажити гру</a>
<ul class="footer-socials">

<li>
<a href="https://www.youtube.com/" aria-label="YouTube">
<svg>
<use href="src/img/icon/sprite.svg#icon-youtube1"></use>
</svg>
</a>
</li>

<li>
<a href="https://www.instagram.com/" aria-label="Instagram">
<svg>
<use href="src/img/icon/sprite.svg#icon-instagram1"></use>
</svg>
</a>
</li>

<li>
<a href="https://t.me/YanaSh87" aria-label="Telegram">
<svg>
<use href="src/img/icon/sprite.svg#icon-telegram"></use>
</svg>
</a>
</li>

<li>
<a href="https://www.linkedin.com/in/yana-shumylo-164190369/" aria-label="Linkedin">
<svg>
<use href="src/img/icon/sprite.svg#icon-linkedin"></use>
</svg>
</a>
</li>

</ul>

<p class="footer-copy"> &copy; 2026 Sonic Adventure Kids. All rights reserved.</p>
</div>
</footer>