<section id="hero">
<div class="container hero-container">
<div class="hero-content">
<span class="hero-text">Найшвидша дитяча пригода року</span>
<h1 class="hero-title">SONIC ADVENTURE KIDS</h1>
<p class="hero-description">
Поринь у світ <span>неймовірних пригод</span> разом із Соніком.
Досліджуй <span>яскраві рівні</span>, збирай <span>золоті кільця</span> та відкривай нові світи.
</p>
<a href="#"  class="btn-play" rel="noopener noreferrer" target="_blank">Пограймо</a>
<ul class="hero-list">
    <li class="hero-item">
        <span>500K+</span>
        Гравців 
    </li>
    <li class="hero-item">
        <span>50+</span>
        Рівнів
    </li>
    <li class="hero-item">
        <span>4.9</span>
        Рейтинг
    </li>
</ul>
</div>
<div class="hero-img">
<img srcset="src/img/hero/hero.webp 1x, src/img/hero/hero@2x.webp 2x" src="src/img/hero/hero.webp" alt="Sonic"/>
</div>

<div class="hero-rings">
<img class="ring ring-one" src="src/img/hero/ring.webp" alt="ring"/>
<img class="ring ring-two" src="src/img/hero/ring.webp" alt="ring"/>
<img class="ring ring-three" src="src/img/hero/ring.webp" alt="ring"/>
</div>
</div>
</section>