<section id="worlds">
<div class="container worlds-container">
<h2 class="worlds-title">Досліджуй яскраві
<span>світи Sonic Adventure Kids</span>
</h2>
<p class="worlds-description">
Кожен рівень — це нова пригода. Біжи швидкими трасами, знаходь секрети та відкривай дивовижні локації разом із героями.
</p>
<ul class="worlds-list">

<li class="world-card">
<img srcset="src/img/worlds/valley.webp 1x, src/img/worlds/valley@2x.webp 2x" src="src/img/worlds/valley.webp"  alt="Green Valley" class="world-img"/>
<div class="world-content">
<h3 class="world-content-title"> Зелена Долина</h3>
<p class="world-content-disc">Зелена Долина — це перша локація, де починається велика пригода Соніка та його друзів. Тут на тебе чекають мальовничі ліси, квітучі галявини та довгі швидкісні траси. Збирай золоті кільця, перестрибуй через прірви й уникай хитрих пасток. Допоможи маленьким звірятам, яких захопили роботи доктора Еггмана. Шукай приховані стежки, що ведуть до секретних бонусів і додаткових нагород. Перемагай ворогів, використовуючи блискавичну швидкість і стрибки. Наприкінці рівня тебе очікує захоплива гонка до фінішу, де кожна секунда має значення. Це ідеальне місце, щоб навчитися керувати героєм і підготуватися до ще складніших пригод.</p>
</div>
</li>

<li class="world-card">
<img srcset="src/img/worlds/city.webp 1x, src/img/worlds/city@2x.webp 2x" src="src/img/worlds/city.webp" alt="Speed City" class="world-img"/>
<div class="world-content">
<h3 class="world-content-title">Місто Швидкості</h3>
<p class="world-content-disc"> Місто Швидкості вражає неоновими вулицями, високими будівлями та футуристичними трасами. Тут необхідно бігти ще швидше, щоб не втратити темп і подолати всі випробування. Стрибай між дахами, ковзай по рейках і уникай рухомих перешкод. Збирай енергетичні прискорювачі, які допоможуть розвинути максимальну швидкість. Перехитри роботів-охоронців, що патрулюють місто, та відкрий нові маршрути. Виконуй складні комбінації рухів, щоб отримувати більше очок і бонусів. Знайди приховані портали, які відкривають доступ до секретних ділянок рівня. Доведи, що саме ти заслуговуєш звання найшвидшого героя.</p>
</div>
</li>

<li class="world-card">
<img srcset="src/img/worlds/cave.webp 1x, src/img/worlds/cave@2x.webp 2x" src="src/img/worlds/cave.webp" alt="Crystal Cave" class="world-img"/>
<div class="world-content">
<h3 class="world-content-title">Печера Кристалів</h3>
<p class="world-content-disc"> Печера Кристалів приховує безліч загадок і неймовірних скарбів. Світло різнокольорових кристалів освітлює вузькі тунелі та таємні проходи. Досліджуй підземний лабіринт, уважно обходячи небезпечні пастки. Збирай дорогоцінні кристали, щоб відкривати нові здібності та нагороди. Розв'язуй прості головоломки, які відкривають приховані двері й секретні кімнати. Перемагай печерних роботів, використовуючи швидкі атаки та вправні стрибки. Знайди легендарний великий кристал, який охороняє могутній бос. Лише найуважніші дослідники зможуть відкрити всі секрети цієї дивовижної печери.</p>
</div>
</li>

<li class="world-card">
<img srcset="src/img/worlds/castle.webp 1x, src/img/worlds/castle@2x.webp 2x" src="src/img/worlds/castle.webp" alt="Mystical castle"class="world-img" />
<div class="world-content">
<h3 class="world-content-title">Містичий замок</h3>
<p class="world-content-disc">Містичний Замок огорнутий таємницями, стародавньою магією та несподіваними небезпеками. Його темні коридори приховують безліч пасток і загадкових механізмів. Підіймайся високими вежами, перестрибуючи через рухомі платформи. Відшукай чарівні ключі, щоб відкрити зачинені ворота та пройти далі. Бийся з примарними роботами, які охороняють найцінніші скарби замку. Використовуй уважність і швидку реакцію, щоб уникати пасток та несподіваних перешкод. Дістанься до тронної зали, де на тебе чекатиме фінальна битва з могутнім супротивником. Перемога в цьому випробуванні стане доказом того, що жодні таємниці не здатні зупинити справжнього героя.</p>
</div>
</li>

</ul>
</div>
</section>